.github/.DS_Store
.DS_Store

# Ignorer tout par défaut
/models/*

# Ne pas ignorer ces fichiers spécifiques
!models/README.md
!models/requirements.txt
!models/upload_to_s3.py

# Ignorer le répertoire 'mlruns'
mlruns/

# Ignorer le répertoire 'notebooks/mlruns'
notebooks/mlruns/

# Ignorer le répertoire 'mlartifacts'
mlartifacts/

*.npy
notebooks/sources/training.1600000.processed.noemoticon.csv
notebooks/data_clean.csv
notebooks/lid.176.bin
notebooks/fasttext_model/
mlflow/Readme
api/cnn_model.keras
api/cnn_model_tokenizer.pickle
data/data_clean.csv
data/data_english_only.csv
data/sources/training.1600000.processed.noemoticon.csv
notebooks/checkpoint
notebooks/checkpoints.data-00000-of-00001
notebooks/checkpoints.index
notebooks/cnn_model.keras
notebooks/embedding_model.keras
notebooks/lstm_model.keras
api/cnn_model_tokenizer.json
mlflow.db
