.github/.DS_Store
.DS_Store

# Ignorer tout par défaut
/models/*

# Ne pas ignorer ces fichiers spécifiques
!models/README.md
!models/requirements.txt
!models/upload_to_s3.py

# Ignorer le répertoire 'mlruns'
mlruns/

# Ignorer le répertoire 'notebooks/mlruns'
notebooks/mlruns/

# Ignorer le répertoire 'mlartifacts'
mlartifacts/

*.npy
notebooks/sources/training.1600000.processed.noemoticon.csv
notebooks/data_clean.csv
notebooks/lid.176.bin
notebooks/fasttext_model/
mlflow/Readme
